[package]
name = "protofetch"
version = "0.0.27"
edition = "2021"
license = "Apache-2.0"
description = "A source dependency management tool for Protobuf."
homepage = "https://github.com/coralogix/protofetch"
repository = "https://github.com/coralogix/protofetch"
readme = "README.md"
keywords = ["proto", "cli", "protobuf", "dependency-manager", "grpc"]
categories = ["command-line-utilities"]
exclude = [".github", ".gitignore"]

[features]
vendored-openssl = ["git2/vendored-openssl"]
vendored-libgit2 = ["git2/vendored-libgit2"]

[dependencies]
clap = { version = "4.3.2", features = ["derive"] }
derive-new = "0.5.9"
env_logger = "0.10.0"
git2 = "0.17.2"
home = "0.5.5"
log = "0.4.18"
regex = "1.8.4"
serde = { version = "1.0.163", features = ["derive"] }
strum = { version = "0.24.1", features = ["derive"] }
thiserror = "1.0.40"
toml = "0.7.4"

[dev-dependencies]
mockall = "0.11.4"
pretty_assertions = "1.4.0"
project-root = "0.2.2"
